@model QLKS.Models.TBLHOADON

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Details</h2>

<div>
    <h4>tblHoaDon</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NGAY_TRA_PHONG)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NGAY_TRA_PHONG)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TIEN_PHONG)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TIEN_PHONG)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TIEN_DICH_VU)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TIEN_DICH_VU)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PHU_THU)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PHU_THU)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TONG_TIEN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TONG_TIEN)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TBLNHANVIEN.HO_TEN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TBLNHANVIEN.HO_TEN)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TBLPHIEUDATPHONG.MA_KH)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TBLPHIEUDATPHONG.MA_KH)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TBLTINHTRANGHOADON.MO_TA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TBLTINHTRANGHOADON.MO_TA)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { idhd = Model.MA_HD }) |
    @Html.ActionLink("Back to List", "Index")
</p>
