@model IEnumerable<QLKS.Models.TBLNHANVIEN>

@{
    ViewBag.Title = "Danh sách nhân viên";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<ol class="breadcrumb">
    <li class="breadcrumb-item">
        @Html.ActionLink("Admin", "Index")
    </li>
    <li class="breadcrumb-item active">Danh sách nhân viên</li>
</ol>
<p>
    @Html.ActionLink("Thêm nhân viên", "Create")
</p>
<div class="card mb-3">
    <div class="card-header">
        <i class="fa fa-table"></i> Danh sách nhân viên
    </div>
    <div class="card-body">
        <div class="table-responsive">

            <table class="table table-bordered table-striped table-hover" id="dataTable" cellspacing="0">
                <thead>
                    <tr>
                        <th>
                            Họ tên
                        </th>
                        <th>
                            Ngày sinh
                        </th>
                        <th>
                            Địa chỉ
                        </th>
                        <th>
                            SĐT
                        </th>
                        <th>
                            Tài khoản
                        </th>
                        <th>
                            Chức vụ
                        </th>
                        @if (Session["NV"] != null && (((QLKS.Models.TBLNHANVIEN)Session["NV"]).MA_CHUC_VU == "CV01" || ((QLKS.Models.TBLNHANVIEN)Session["NV"]).MA_CHUC_VU == "CV02"))
                        {
                            <th></th>
                        }
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.HO_TEN)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.NGAY_SINH)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.DIA_CHI)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.SDT)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.TAI_KHOAN)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.TBLCHUCVU.CHUC_VU)
                            </td>
                            @if (Session["NV"] != null && (((QLKS.Models.TBLNHANVIEN)Session["NV"]).MA_CHUC_VU == "CV01" || ((QLKS.Models.TBLNHANVIEN)Session["NV"]).MA_CHUC_VU == "CV02"))
                            {
                                <td>
                                    @Html.ActionLink("Edit", "Edit", new { idnv = item.MA_NV }) |
                                    @Html.ActionLink("Details", "Details", new { idnv = item.MA_NV }) |
                                    @Html.ActionLink("Delete", "Delete", new { idnv = item.MA_NV })

                                </td>
                            }
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <div class="card-footer small text-muted">Updated yesterday at @DateTime.Now</div>
</div>